name: Validate links

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  link-checker:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Check links
        id: lychee
        uses: lycheeverse/lychee-action@v2.7.0
      - name: Create issue
        if: env.lychee_exit_code != 0
        uses: peter-evans/create-issue-from-file@v6
        with:
          title: Link checker report
          labels: 'report, automated-issue'
          content-filepath: ./lychee/out.md
      - name: Assign issues and pull requests
        if: env.lychee_exit_code != 0
        uses: gustavofreze/auto-assign@2.0.0
        with:
          assignees: '${{ vars.ASSIGNEES }}'
          github_token: '${{ secrets.GITHUB_TOKEN }}'
          allow_self_assign: 'true'
          allow_no_assignees: 'true'
          assignment_options: 'ISSUE'